<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.w3.org/1999/xhtml">
<head th:replace="common::head"><title></title></head>

<body class="rlr-body">
<!-- 引用导航栏 -->
<div th:replace="common::navigation"></div>
      <main id="rlr-main" class="rlr-main--fixed-top">
      <!-- Hero Banner -->
      <section class="rlr-about-hero">
        <div class="container">
          <div class="rlr-about-hero__content">
            <img class="rlr-about-hero__bg" src="./assets/images/about-hero-3.jpg" alt="..." />
            <div class="rlr-about-hero__content-inner">
              <h1 class="type-d1 rlr-about-hero__title">关于我们</h1>
              <div class="rlr-about-hero__cards">
                <div class="rlr-about-hero-card" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
                  <h5 class="type-h5-semibold rlr-about-hero-card__title">What started the emprise venture?</h5>
                  <p class="type-lead rlr-about-hero-card__desc">It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
                <div class="rlr-about-hero-card" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
                  <h5 class="type-h5-semibold rlr-about-hero-card__title">What started the emprise venture?</h5>
                  <p class="type-lead rlr-about-hero-card__desc">It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
                <div class="rlr-about-hero-card" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
                  <h5 class="type-h5-semibold rlr-about-hero-card__title">What started the emprise venture?</h5>
                  <p class="type-lead rlr-about-hero-card__desc">It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Vision -->
      <section class="rlr-about rlr-section rlr-section__my">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- Section heading -->
              <div class="rlr-section__title">
                <h2 class="rlr-section__title--main">Our Vision</h2>
                <span class="rlr-section__title--sub">Sost Brilliant reasons Emprise should be your one-stop-shop!</span>
              </div>
              <div class="row gy-5">
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">1</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="275" data-aos-duration="600">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">2</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="300" data-aos-duration="700">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">3</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="325" data-aos-duration="800">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">4</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-xl-1 col-lg-5">
              <div class="rlr-img rlr-img--dotted img-fluid">
                <img class="img-fluid" src="./assets/images/about-01.jpg " alt=" image our vision" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Values -->
      <section class="rlr-about rlr-section rlr-section__my">
        <div class="container">
          <div class="row">
            <div class="offset-xl-1 col-lg-5 flex-sm-column-reverse rlr-dotted-image">
              <div class="rlr-img rlr-img--dotted-reversed">
                <img class="img-fluid" src="./assets/images/about-02.jpg " alt=" image our values" />
              </div>
            </div>
            <div class="col-lg-6">
              <!-- Section heading -->
              <div class="rlr-section__title">
                <h2 class="rlr-section__title--main">Our Values</h2>
                <span class="rlr-section__title--sub">Sost Brilliant reasons Emprise should be your one-stop-shop!</span>
              </div>
              <div class="row gy-5">
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">1</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="275" data-aos-duration="600">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">2</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="300" data-aos-duration="700">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">3</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="325" data-aos-duration="800">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">4</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Team -->
      <section class="rlr-section">
        <div class="container">
          <div class="row">
            <!-- Section heading -->
            <div class="rlr-section__title rlr-section__title--centered">
              <h2 class="rlr-section__title--main">Our Team</h2>
              <span class="rlr-section__title--sub">Sost Brilliant reasons Emprise should be your one-stop-shop!</span>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-03.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Devon Lane</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Founder</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="300" data-aos-duration="600">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-05.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Cleona Mathur</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Co-Founder</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="350" data-aos-duration="700">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-06.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Darren Spratt</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Tour Manager</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="400" data-aos-duration="800">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-04.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Lejla Fizovic</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Administrator</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <div th:replace="common::footer"></div>
      </main>
    <div th:replace="common::footerJs"></div>
  </body>
</html>
