<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body class="rlr-body">
    <!-- Header -->
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="rlr-section__content--lg-top">
        <section class="rlr-section rlr-section__mt rlr-account">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 offset-lg-4">
                <form class="rlr-authforms">
                  <div class="rlr-authforms__header">
                    <img src="./assets/images/logos/Logomark.svg" alt="Logo" />
                  </div>
                  <div class="rlr-authforms__form">
                    <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light required"> 邮箱 </label> <input type="text" autocomplete="off" class="form-control form-control--light" /></div>
                    <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light required"> 密码 </label> <input type="password" autocomplete="off" class="form-control form-control--light" /></div>
                    <div class="rlr-authforms__forgotpassword">
                      <div class="form-check-inline">
                        <input class="form-check-input rlr-form-check-input" id="rlr-checkbox-1" type="checkbox" value="defaultValue" />
                        <label class="rlr-form-label rlr-form-label--checkbox rlr-form-label--font-inherit rlr-form-label--bold" for="rlr-checkbox-1">记住密码</label>
                      </div>
                      <a href="account-pages--forgot-password">忘记密码</a>
                    </div>
                    <button type="button" class="btn mb-3 rlr-button rlr-button--fullwidth rlr-button--primary">登录</button>
                  </div>
                  <div class="rlr-authforms__notes">
                    <p>没有账号? <a href="account-pages--signup">注册</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>
  </body>
</html>
