<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.w3.org/1999/xhtml">
<head th:replace="common::head"><title></title></head>

<body class="rlr-body">
<!-- 引用导航栏 -->
<div th:replace="common::navigation"></div>
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
        <div class="rlr-section__content--md-top">
            <div class="rlr-section rlr-section__my">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div th:replace="my-account-page-side::aside"></div>
                            <div class="col-lg-9 col-md-12 col-sm-12 col-pad">
                                <div class="content-area5">
                                    <div class="dashboard-content">
                                        <div class="dashboard-list">
                                            <h3 class="heading">个人信息</h3>
                                            <div class="dashboard-message contact-2 bdr clearfix">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="edit-profile-photo"><img src="https://fastly.jsdelivr.net/gh/lvcong-sys/note_book@master/1677506165156%E5%B8%B8%E7%94%A8%E5%A4%B4%E5%83%8F.png" alt="头像" class="img-fluid">
                                                            <div class="change-photo-btn">
                                                                <div class="photoUpload" type="button" id="buttom"><span style="text-align: center;display: block">点击修改</span><input id="file" name="file" class="upload" type="hidden"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9">
                                                        <form action="#" method="GET" enctype="multipart/form-data">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group name"><label>姓名</label><input type="text" name="name" class="form-control" placeholder="John Deo"></div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group email"><label>性别</label><input type="text" name="sex" class="form-control" placeholder="Your Title"></div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group subject"><label>电话</label><input type="text" name="phone" class="form-control" placeholder="Phone"></div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group number"><label>邮箱</label><input type="email" name="email" class="form-control" placeholder="Email"></div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <div class="form-group message"><label>个人介绍</label><textarea class="form-control" name="message" placeholder="写点什么来介绍自己吧！"></textarea></div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="dashboard-list">
                                                    <h3 class="heading">修改密码</h3>
                                                    <div class="dashboard-message contact-2">
                                                        <form action="#" method="GET" enctype="multipart/form-data">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="form-group name"><label>当前密码</label><input type="password" name="current-password" class="form-control" placeholder="Current Password"></div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group email"><label>新密码</label><input type="password" name="new-password" class="form-control" placeholder="New Password"></div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group subject"><label>再次输入新密码</label><input type="password" name="confirm-new-password" class="form-control" placeholder="Confirm New Password"></div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="send-btn"><button type="submit" class="btn btn-md button-theme">确认修改</button></div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="sub-banner-2 text-center">© 2018 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- 引用尾部 -->
        <div th:replace="common::footer"></div>
    </main>
    <div th:replace="common::footerJs"></div>
<script>

    $(function () {
        $("#button").click(function () {
            var form = new FormData();
            form.append("file", document.getElementById("file").files[0]);
            $.ajax({
                url: "/student/upload",        //后台url
                data: form,
                cache: false,
                async: false,
                type: "POST",                   //类型，POST或者GET
                dataType: 'json',              //数据返回类型，可以是xml、json等
                processData: false,
                contentType: false,
                success: function (data) {      //成功，回调函数
                    if (data) {
                        var pic="/imctemp-rainy/"+data.fileName;
                        alert(pic);
                        $("#url img").attr("src",pic);
                        $("#file1").val("/imctemp-rainy/"+data.fileName)
                        // alert(JSON.stringify(data));

                    } else {
                        alert("失败");
                    }

                },
                error: function (er) {          //失败，回调函数
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#t_button").click(function () {
            //这里分割字符串 /imctemp-rainy/157352875235607c10257539a5f4dcdaab233ca2832a5.jpg
            //需要用/分割字符先后获取最后一段字符串去上传到后台
            //alert($("#url img").attr("src"));
            var img = $("#url img").attr("src");
            var str = img.split("/");
            var str_img=str[str.length-1];
            //alert(str_img);
            $.post("/student/deleteImages",{filePath:str_img},function(data){
                alert(data);
                //这里我们取消上传成功之后去给换成一个暂无图片的一个图
                $("#url img").attr("src","/imctemp-rainy/11.jpg");
                $("#file1").val("/imctemp-rainy/11.jpg");
            });
        });
    })

</script>
</body>
</html>