<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="rlr-section__content--lg-top">
        <section class="rlr-section rlr-section__mt rlr-account">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 offset-lg-4">
                <div class="rlr-authforms">
                  <div class="rlr-authforms__header">
                    <img src="./assets/images/logos/Logomark.svg" alt="Logo" />
                    <h2>检查你的邮箱</h2>
                    <p>我们发送了一个验证码到 <a href="mailto:sanjeev@waituk.com">sanjeev@railar.com</a></p>
                  </div>
                  <div class="rlr-authforms__form">
                    <button type="button" class="btn mb-3 rlr-button rlr-button--fullwidth rlr-button--primary">输入验证码</button>
                  </div>
                  <div class="rlr-authforms__back">
                    <a href="account-pages--login"><img src="./assets/images/back-arrow.png" alt="back arrow" /> 返回登录</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>
  </body>
</html>
