<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.w3.org/1999/xhtml">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emprise</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/styles/plugins.css}" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <link rel="preload" th:href="@{/vendors/jquery.min.js}" as="script" />
    <link rel="preload" th:href="@{/vendors/rs6.css}" as="style" />
    <script th:src="@{/vendors/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/vendors/rs6.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrapt.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/skins/default.css}"/>
    <link rel="stylesheet" th:href="@{css/font.min.css}"/>
  </head>

  <body class="rlr-body">
  <!-- Main Content -->
  <main id="rlr-main" class="rlr-main">
    <header th:fragment="navigation">
      <nav id="navigation" class="navigation rlr-navigation default-nav fixed-top">
        <!-- Logo -->
        <div class="navigation-header">
          <div class="navigation-brand-text">
            <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
              <a th:href="@{/index}" sa:notLogin>
                <img th:src="@{/assets/svg/emprise-logo-dark.svg}" alt="#" class="" />
              </a>
              <a th:href="@{/user/index}" sa:login>
                <img th:src="@{/assets/svg/emprise-logo-dark.svg}" alt="#" class="" />
              </a>
            </div>
          </div>
          <div class="navigation-button-toggler">
            <span class="rlr-sVGIcon"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-menu"> </i> </span>
          </div>
        </div>
        <div class="navigation-body rlr-navigation__body container">
          <div class="navigation-body-header rlr-navigation__body-header">
            <div class="navigation-brand-text">
              <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                <a th:href="@{/user/index}" sa:login>
                  <img th:src="@{/assets/svg/emprise-logo-dark.svg}" alt="#" class="" />
                </a>
                <a th:href="@{/index}" sa:notLogin>
                  <img th:src="@{/assets/svg/emprise-logo-dark.svg}" alt="#" class="" />
                </a>
              </div>
            </div>
            <span class="rlr-sVGIcon navigation-body-close-button"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-close"> </i> </span>
          </div>
          <!-- 导航栏 -->
          <ul class="navigation-menu rlr-navigation__menu rlr-navigation__menu--main-links">
            <!-- 主页 -->
            <li class="navigation-item" sa:notLogin>
              <a class="navigation-link" th:href="@{/index}">主页</a>
            </li>
            <li class="navigation-item" sa:login>
              <a class="navigation-link" th:href="@{/user/index}">主页</a>
            </li>
            <!-- 地址下拉框其中的内容应该从数据库中取出，然后使用js进行渲染 -->
            <li class="navigation-item has-submenu">
              <a class="navigation-link" th:href="@{/destination}">地点</a>
              <ul class="navigation-megamenu navigation-submenu navigation-megamenu-half">
                <li class="navigation-megamenu-container">
                  <ul class="navigation-tabs">
                    <li class="rlr-navigation__tabbed-list">
                      <ul class="navigation-tabs-nav">
                        <li class="navigation-tabs-nav-item is-active"><a href="#">Africa</a></li>
                        <li class="navigation-tabs-nav-item"><a href="#">Asia</a></li>
                      </ul>
                    </li>
                    <li class="navigation-tabs-pane is-active">
                      <ul class="navigation-row">
                        <li class="navigation-col">
                          <ul class="navigation-list">
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Namibia</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Senegal</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> South Africa</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Tanzania</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Tunisia</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Zambia</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Zanzibar</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Zimbabwe</a></span>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="navigation-tabs-pane">
                      <ul class="navigation-row">
                        <li class="navigation-col">
                          <ul class="navigation-list">
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="./about.html"> Armenia</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Azerbaijan</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Bali</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Bhutan</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Cambodia</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> China</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> India</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Indonesia</a></span>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li class="navigation-col">
                          <ul class="navigation-list">
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="./about.html"> Japan</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Malaysia</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Nepal</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Philippines</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Singapore</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Sri Lanka</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Thailand</a></span>
                              </div>
                            </li>
                            <li class="rlr-icon-text">
                              <div class="rlr-icon-text__text-wrapper">
                                <span class="rlr-icon-text__title"><a href="destination.html"> Vietnam</a></span>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- 旅游项目拓展功能 -->
            <!--
                          <li class="navigation-item">
                            <a class="navigation-link" href="./">旅游团</a>
                          </li>
            -->
            <!-- 游记导航 -->
            <li class="navigation-item">
              <a class="navigation-link" th:href="@{/blog}"> 游记</a>
            </li>
            <!-- 信息反馈 -->
            <li class="navigation-item">
              <a class="navigation-link" th:href="@{/contact}"> 联系我们 </a>
            </li>
            <!-- 企业介绍 -->
            <li class="navigation-item">
              <a class="navigation-link" th:href="@{/aboutUs}"> 关于我们 </a>
            </li>
          </ul>
          <!-- User actions menu -->
          <ul class="navigation-menu rlr-navigation__menu align-to-right">
            <!-- Signup Button -->
            <li class="navigation-item" sa:notLogin>
              <a th:href="@{/user/login}" class="btn rlr-button rlr-button--medium rlr-button--rounded rlr-button--brand"> 登录 </a>
            </li>
            <!-- 登录后的头部 -->
            <li class="navigation-item" sa:login>
              <a class="navigation-link" th:href="@{/user/toDetail}"> Sarah J <img class="ui right spaced avatar image" th:src="@{/assets/images/blog-single-avatar.png}" alt="account avatar" /> </a>
              <ul class="navigation-dropdown">
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" th:href="@{/user/toDetail}">个人主页</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="collections.html">收藏</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./search-results--no-sidebar.html">喜欢</a>
                </li>
                <li class="navigation-dropdown-item">
                  <hr class="dropdown-divider rlr-dropdown__divider" />
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" th:href="@{/user/logout}">退出登录</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Footer -->
    <footer class="rlr-footer rlr-section rlr-section__mt" th:fragment="footer">
      <div class="container">
        <div class="rlr-footer__getintouch">
          <div class="rlr-footer__getintouch_col rlr-footer__getintouch__col--title">
            <h4>来一场旅行吧！</h4>
            <p>叫上你的小伙伴一起去旅行!</p>
          </div>
        </div>
        <!-- Footer menu -->
        <div class="rlr-footer__menu">
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>服务</h4>
            <ul>
              <li><a href="#">预算旅游</a></li>
              <li><a href="#">专家见解</a></li>
              <li><a href="#">独立旅行</a></li>
              <li><a href="#">豪华旅游</a></li>
              <li><a href="#">安全提示</a></li>
              <li><a href="#">提示和技巧</a></li>
            </ul>
          </nav>
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>旅行</h4>
            <ul>
              <li><a href="#">沙滩</a></li>
              <li><a href="#">蹦极</a></li>
              <li><a href="#">都市旅行</a></li>
              <li><a href="#">远足</a></li>
              <li><a href="#">丛林探险</a></li>
              <li><a href="#">夜城漫步</a></li>
            </ul>
          </nav>
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>国家</h4>
            <ul>
              <li><a href="#">中国</a></li>
            </ul>
          </nav>
          <!-- Subscribe -->
          <nav class="rlr-footer__menu__col rlr-footer__menu__col--lg">
            <h4>联系我们</h4>
            <form class="rlr-subscribe" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
              <input type="email" class="rlr-subscribe__input" placeholder="Enter your email" />
              <button class="btn">Send Now!</button>
            </form>
          </nav>
        </div>
        <!-- Footer bottom -->
        <div class="rlr-footer__legal">
          <div class="rlr-footer__legal__row rlr-footer__legal__row--top">
            <div class="rlr-footer__legal__row__col">
              <a href="#">隐私策略</a>
            </div>
            <!-- Footer social links -->
            <div class="rlr-footer__legal__row__col">
              <a href="#">微信公众号</a>
              <span class="separate">/</span>
              <a href="#">GitHub</a>
              <span class="separate">/</span>
              <a href="#">博客</a>
            </div>
          </div>
          <!-- Footer copyright -->
          <div class="rlr-footer__legal__row rlr-footer__legal__row--bottom">
            <div class="rlr-footer__legal__row__col">
              <span>2023 © by <a href="#">201910530940吕聪的毕设</a></span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </main>

  <div th:fragment="footerJs">
    <script th:src="@{/vendors/navx/js/navigation.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
  </div>
  </body>
</html>
