<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
    </main>
    <!-- Footer -->
    <footer class="rlr-footer rlr-section rlr-section__mt">
      <div class="container">
        <div class="rlr-footer__getintouch">
          <div class="rlr-footer__getintouch_col rlr-footer__getintouch__col--title">
            <h4>来一场旅行吧！</h4>
            <p>叫上你的小伙伴一起去旅行!</p>
          </div>
        </div>
        <!-- Footer menu -->
        <div class="rlr-footer__menu">
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>服务</h4>
            <ul>
              <li><a href="#">预算旅游</a></li>
              <li><a href="#">专家见解</a></li>
              <li><a href="#">独立旅行</a></li>
              <li><a href="#">豪华旅游</a></li>
              <li><a href="#">安全提示</a></li>
              <li><a href="#">提示和技巧</a></li>
            </ul>
          </nav>
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>旅行</h4>
            <ul>
              <li><a href="#">沙滩</a></li>
              <li><a href="#">蹦极</a></li>
              <li><a href="#">都市旅行</a></li>
              <li><a href="#">远足</a></li>
              <li><a href="#">丛林探险</a></li>
              <li><a href="#">夜城漫步</a></li>
            </ul>
          </nav>
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>国家</h4>
            <ul>
              <li><a href="#">中国</a></li>
            </ul>
          </nav>
          <!-- Subscribe -->
          <nav class="rlr-footer__menu__col rlr-footer__menu__col--lg">
            <h4>联系我们</h4>
            <form class="rlr-subscribe" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
              <input type="email" class="rlr-subscribe__input" placeholder="Enter your email" />
              <button class="btn">Send Now!</button>
            </form>
          </nav>
        </div>
        <!-- Footer bottom -->
        <div class="rlr-footer__legal">
          <div class="rlr-footer__legal__row rlr-footer__legal__row--top">
            <div class="rlr-footer__legal__row__col">
              <a href="#">隐私策略</a>
            </div>
            <!-- Footer social links -->
            <div class="rlr-footer__legal__row__col">
              <a href="#">微信公众号</a>
              <span class="separate">/</span>
              <a href="#">GitHub</a>
              <span class="separate">/</span>
              <a href="#">博客</a>
            </div>
          </div>
          <!-- Footer copyright -->
          <div class="rlr-footer__legal__row rlr-footer__legal__row--bottom">
            <div class="rlr-footer__legal__row__col">
              <span>2023 © by <a href="#">lvcong的毕设</a></span>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>
  </body>
</html>
