<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="./css/bootstrapt.min.css" />
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/skins/default.css"/>
    <link rel="stylesheet" href="css/font.min.css"/>
</head>

<body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
        <div class="rlr-section__content--md-top">
            <div class="rlr-section rlr-section__my">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-12 col-sm-12 col-pad">
                                <div class="content-area5">
                                    <div class="dashboard-content">
                                        <div class="dashboard-list">
                                            <h3 class="heading">个人信息</h3>
                                            <div class="dashboard-message contact-2 bdr clearfix">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="edit-profile-photo"><img src="https://fastly.jsdelivr.net/gh/lvcong-sys/note_book@master/1677506165156%E5%B8%B8%E7%94%A8%E5%A4%B4%E5%83%8F.png" alt="头像" class="img-fluid">
                                                            <div class="change-photo-btn">
                                                                <div class="photoUpload"><span><i class="rlr-icon-font flaticon-upload"></i></span><input type="file" class="upload"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9">
                                                        <form action="#" method="GET" enctype="multipart/form-data">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group name"><label>姓名</label><input type="text" name="name" class="form-control" placeholder="John Deo"></div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group email"><label>性别</label><input type="text" name="sex" class="form-control" placeholder="Your Title"></div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group subject"><label>电话</label><input type="text" name="phone" class="form-control" placeholder="Phone"></div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group number"><label>邮箱</label><input type="email" name="email" class="form-control" placeholder="Email"></div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <div class="form-group message"><label>个人介绍</label><textarea class="form-control" name="message" placeholder="Personal info"></textarea></div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="dashboard-list">
                                                    <h3 class="heading">修改密码</h3>
                                                    <div class="dashboard-message contact-2">
                                                        <form action="#" method="GET" enctype="multipart/form-data">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="form-group name"><label>当前密码</label><input type="password" name="current-password" class="form-control" placeholder="Current Password"></div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group email"><label>新密码</label><input type="password" name="new-password" class="form-control" placeholder="New Password"></div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group subject"><label>再次输入新密码</label><input type="password" name="confirm-new-password" class="form-control" placeholder="Confirm New Password"></div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="send-btn"><button type="submit" class="btn btn-md button-theme">确认修改</button></div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="sub-banner-2 text-center">© 2018 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>

</html>