<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
</head>

<body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
        <div class="rlr-section__content--md-top">
            <div class="rlr-section rlr-section__my">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 rlr-sidebar-menu__mobile">
                            <select class="rlr-sidebar-menu__sub-menu rlr-form-select" id="rlr-js-sub-menu" name="rlr-sub-menu">
                                <option>Navigate to...</option>
                                <option value="my-account-pages--dashboard">Dashboard</option>
                                <option value="my-account-pages--order">Orders</option>
                                <option value="my-account-pages--subscription">Subscriptions</option>
                                <option value="my-account-pages--dashboard">Addresses</option>
                                <option value="my-account-pages--dashboard">Payment Methods</option>
                                <option value="my-account-pages--dashboard">Account Details</option>
                                <option value="my-account-pages--dashboard">Logout</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="content col-lg-9 col-xs-12">
                            <div class="rlr-data-container woocommerce-MyAccount-content">
                                <h1 class="type-h3 rlr-data-table__title">你的收藏</h1>
                                <div class="table">
                                    <table class="rlr-data-table woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
                                        <thead class="rlr-data-table__header">
                                            <tr class="rlr-data-table__header-row">
                                                <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number">
                                                    <span class="nobr"> 编号 </span>
                                                </th>
                                                <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date">
                                                    <span class="nobr"> 时间 </span>
                                                </th>
                                                <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status">
                                                    <span class="nobr"> 标题 </span>
                                                </th>
                                                <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status">
                                                    <span class="nobr"> 类型 </span>
                                                </th>
                                                <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions">
                                                    <span class="nobr"> 详情 </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="rlr-data-table__row woocommerce-orders-table__row woocommerce-orders-table__row--status-on-hold order">
                                                <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Order">
                                                    <a href="./product-detail-page.html"> #555 </a>
                                                </td>
                                                <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Date">
                                                    <time datetime="2022-04-20T08:01:42+00:00"> April 20, 2022 </time>
                                                </td>
                                                <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="Status">On hold</td>
                                                <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Date">
                                                    游记
                                                </td>
                                                <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                                                    <a href="./product-detail-page.html" class="rlr-data-table__link woocommerce-button button view"> 查看 </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>
</body>

</html>