<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
</head>

<body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
        <div class="rlr-section__content--md-top">
            <div class="rlr-section rlr-section__my">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 rlr-sidebar-menu__mobile">
                            <select class="rlr-sidebar-menu__sub-menu rlr-form-select" id="rlr-js-sub-menu" name="rlr-sub-menu">
                                <option>Navigate to...</option>
                                <option value="my-account-pages--dashboard">Dashboard</option>
                                <option value="my-account-pages--order">Orders</option>
                                <option value="my-account-pages--subscription">Subscriptions</option>
                                <option value="my-account-pages--dashboard">Addresses</option>
                                <option value="my-account-pages--dashboard">Payment Methods</option>
                                <option value="my-account-pages--dashboard">Account Details</option>
                                <option value="my-account-pages--dashboard">Logout</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <aside class="rlr-sidebar-menu col-lg-3 col-xs-12 mb-5">
                            <div class="rlr-sidebar-menu__wrapper">
                                <nav class="rlr-sidebar-menu">
                                    <ul class="rlr-sidebar-menu__desktop">
                                        <li>
                                            <a class="rlr-sidebar-menu__link" href="./my-account-pages--subscription.html">
                                                <span class="rlr-sidebar-menu__link-icon"><i class="rlr-icon-font flaticon-carbon-money"> </i></span>
                                                收藏
                                            </a>
                                        </li>
                                        <li>
                                            <a class="rlr-sidebar-menu__link" href="#">
                                                <span class="rlr-sidebar-menu__link-icon"><i class="rlr-icon-font flaticon-walking"> </i></span>
                                                游记
                                            </a>
                                        </li>
                                        <li>
                                            <a class="rlr-sidebar-menu__link active" href="#">
                                                <span class="rlr-sidebar-menu__link-icon"><i class="rlr-icon-font flaticon-carbon-user"> </i></span>
                                                个人资料
                                            </a>
                                        </li>
                                        <li>
                                            <a class="rlr-sidebar-menu__link" href="#">
                                                <span class="rlr-sidebar-menu__link-icon"><i class="rlr-icon-font flaticon-carbon-logout"> </i></span>
                                                登出
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>
</body>

</html>