<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emprise</title>
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <link rel="stylesheet" href="./styles/plugins.css" />
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main">
      <header>
        <nav id="navigation" class="navigation rlr-navigation default-nav fixed-top">
          <!-- Logo -->
          <div class="navigation-header">
            <div class="navigation-brand-text">
              <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                <a href="./home-page--rs1.html">
                  <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="" />
                </a>
              </div>
            </div>
            <div class="navigation-button-toggler">
              <span class="rlr-sVGIcon"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-menu"> </i> </span>
            </div>
          </div>
          <div class="navigation-body rlr-navigation__body container">
            <div class="navigation-body-header rlr-navigation__body-header">
              <div class="navigation-brand-text">
                <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                  <a href="./index.html">
                    <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="" />
                  </a>
                </div>
              </div>
              <span class="rlr-sVGIcon navigation-body-close-button"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-close"> </i> </span>
            </div>
            <!-- 导航栏 -->
            <ul class="navigation-menu rlr-navigation__menu rlr-navigation__menu--main-links">
              <!-- 主页 -->
              <li class="navigation-item is-active">
                <a class="navigation-link" href="./home-page--rs1.html">主页</a>
              </li>
              <!-- 地址下拉框其中的内容应该从数据库中取出，然后使用js进行渲染 -->
              <li class="navigation-item has-submenu">
                <a class="navigation-link" href="#">地点</a>
                <ul class="navigation-megamenu navigation-submenu navigation-megamenu-half">
                  <li class="navigation-megamenu-container">
                    <ul class="navigation-tabs">
                      <li class="rlr-navigation__tabbed-list">
                        <ul class="navigation-tabs-nav">
                          <li class="navigation-tabs-nav-item is-active"><a href="#">Africa</a></li>
                          <li class="navigation-tabs-nav-item"><a href="#">Asia</a></li>
                        </ul>
                      </li>
                      <li class="navigation-tabs-pane is-active">
                        <ul class="navigation-row">
                          <li class="navigation-col">
                            <ul class="navigation-list">
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Namibia</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Senegal</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> South Africa</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Tanzania</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Tunisia</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Zambia</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Zanzibar</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Zimbabwe</a></span>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="navigation-tabs-pane">
                        <ul class="navigation-row">
                          <li class="navigation-col">
                            <ul class="navigation-list">
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./about.html"> Armenia</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Azerbaijan</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Bali</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Bhutan</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Cambodia</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> China</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> India</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Indonesia</a></span>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="navigation-col">
                            <ul class="navigation-list">
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./about.html"> Japan</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Malaysia</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Nepal</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Philippines</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Singapore</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Sri Lanka</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Thailand</a></span>
                                </div>
                              </li>
                              <li class="rlr-icon-text">
                                <div class="rlr-icon-text__text-wrapper">
                                  <span class="rlr-icon-text__title"><a href="./search-results--left-sidebar.html"> Vietnam</a></span>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- 旅游项目拓展功能 -->
<!--
              <li class="navigation-item">
                <a class="navigation-link" href="./">旅游团</a>
              </li>
-->
              <!-- 游记导航 -->
              <li class="navigation-item">
                <a class="navigation-link" href="#"> 游记</a>
              </li>
              <!-- 信息反馈 -->
              <li class="navigation-item">
                <a class="navigation-link" href="./contact.html"> 联系我们 </a>
              </li>
            </ul>
            <!-- User actions menu -->
            <ul class="navigation-menu rlr-navigation__menu align-to-right">
              <!-- Signup Button -->
              <li class="navigation-item">
                <a href="./account-pages--login.html" class="btn rlr-button rlr-button--medium rlr-button--rounded rlr-button--brand"> 登录 </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </main>
      
    <script src="./vendors/navx/js/navigation.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
