<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common::head"><title></title></head>

<body class="rlr-body">
<!-- 引用导航栏 -->
<div th:replace="common::navigation"></div>
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="rlr-section__content--lg-top">
        <section class="rlr-section rlr-section__mt rlr-account">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 offset-lg-4">
                <form th:action="@{/user/doSignup}" method="post">
                  <div class="rlr-authforms">
                    <div class="rlr-authforms__header">
                      <img class="mb-2" th:src="@{/assets/images/logos/Logomark.svg}" alt="Logo" />
                      <h2>创建用户</h2>
                    </div>
                    <div class="rlr-authforms__form">
                      <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light"> 昵称 </label> <input type="text" autocomplete="off" class="form-control form-control--light" required name="nickName"/></div>
                      <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light"> 邮箱 </label> <input type="email" autocomplete="off" class="form-control form-control--light" required name="email"/></div>
                      <div class="rlr-authforms__inputgroup">
                        <label class="rlr-form-label rlr-form-label--light"> 密码 </label> <input type="password" autocomplete="off" class="form-control form-control--light" name="password" required />
                        <p class="help-text">至少8位</p>
                      </div>
                      <button type="submit" class="btn rlr-button rlr-button--fullwidth rlr-button--primary" >点击注册</button>
                    </div>
                    <div class="rlr-authforms__notes">
                      <p>已经有账号了? <a th:href="@{/user/login}">登录</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- 引用尾部 -->
      <div th:replace="common::footer"></div>
    </main>
    <div th:replace="common::footerJs"></div>
  </body>
</html>
