<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
</head>

<body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
        <div class="rlr-section__content--md-top">
            <div class="rlr-section rlr-section__my">
                <div class="container">
                    <div class="row">
                        <div class="content col-lg-9 col-xs-12">
                            <div class="woocommerce-MyAccount-content">
                                <h1 class="type-h3 rlr-data-table__title">你的游记</h1>
                                <div class="rlr-myaccount__wrapper">
                                    <div class="woocommerce-MyAccount-content">
                                        <div class="row rlr-search-results-page__card-wrapper">
                                            <div class="col-md-6 col-lg-6">
                                                <article class="rlr-postcard">
                                                    <img class="rlr-postcard__thumbnail" src="./assets/images/blog/blog-listing01.jpg" alt="blog image" />
                                                    <div class="rlr-postcard__summary">
                                                        <span class="rlr-postcard__author">地点 | 日期</span>
                                                        <a href="./single.html" class="rlr-product-card__anchor-title">
                                                            <h2 class="rlr-product-card__title">标题</h2>
                                                        </a>
                                                        <p>摘要</p>
                                                        <div class="rlr-product-card__footer">
                                                            <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-comment-left"> </i> <span class="rlr-postcard__replies">评论 </span> </a>
                                                            <div class="rlr-product-card__icon-text-list">
                                                                <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">Travel </span> </a>
                                                                <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">Mountain </span> </a>
                                                                <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">Road Trip </span> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <article class="rlr-postcard">
                                                    <img class="rlr-postcard__thumbnail" src="./assets/images/blog/blog-listing02.jpg" alt="blog image" />
                                                    <div class="rlr-postcard__summary">
                                                        <span class="rlr-postcard__author">Sanjeev Jha | 19 Jan 2022</span>
                                                        <a href="./single.html" class="rlr-product-card__anchor-title">
                                                            <h2 class="rlr-product-card__title">Annapurna himal blog posts</h2>
                                                        </a>
                                                        <p>Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                                                        <div class="rlr-product-card__footer">
                                                            <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-comment-left"> </i> <span class="rlr-postcard__replies">5 Replies </span> </a>
                                                            <div class="rlr-product-card__icon-text-list">
                                                                <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">Travel </span> </a>
                                                                <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">Mountain </span> </a>
                                                                <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">Road Trip </span> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>
</body>

</html>